@import 'variables';

@mixin button ($b, $c, $h, $w) {
  position: relative;
  background-color: $b;
  color: $c;
  height: $h;
  width: $w;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:active:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-radius: 5px;
    width: $w;
    height: $h;
    background-color: $b;
    opacity: 0;
    animation: wave 1s ease-out 1;
  }

  &:hover {
    background: $white;
	  color: $b;
    box-shadow: inset 0 0 0 2px $b;
  }

  @keyframes wave {
    10%,
    25% {
      transform: scale(1);
      opacity: 1;
    }
  }

}

@mixin input ($h, $w, $c, $bc) {
  height: $h;
  width: $w;
  border: 1px solid $c;
  border-radius: 5px;
  color: $c;
  padding: 3px 5px;
  outline: none;
  cursor: pointer;

  &:hover {
    border: 1px solid $c;
  }

  &:focus {
    border: 2px solid $bc;
  }

}

@mixin logo ($w, $h, $fs) {
  width: $w;
  height: $h;
  background-color: $beige;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  .logo-css__circle {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: $w * 0.9;
    height: $h * 0.9;
    background-color: $orange;
    border-radius: 50%;
  }

  .logo-css__letter {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: $fs;
    font-weight: 800;
  }

  :hover {
    .logo-css__letter {
      animation: move 0.5s 1;
      animation-timing-function: ease;
    }
  }

  @keyframes move {
    from { text-shadow: 0 0 3px $beige; font-size: $fs; }
    50% { text-shadow: 0 0 10px$beige; font-size: $fs * 1.1; }
    to { text-shadow: 0 0 3px $beige; font-size: $fs;}
  }

} 

@mixin h1-letters () {
  .title-animation {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  .title-animation > li {
    -webkit-animation: h1-bouncedelay 0.2s ease-in;
    animation: h1-bouncedelay 0.2s ease-in;
  }
  .title-animation .left__h1-1 {
    -webkit-animation-delay: -0.0s;
    animation-delay: -0.0s;
  }
  .title-animation .left__h1-2 {
    -webkit-animation-delay: 0.02s;
    animation-delay: 0.02s;
  }
  .title-animation .left__h1-3 {
    -webkit-animation-delay: 0.04s;
    animation-delay: 0.04s;
  }
  .title-animation .left__h1-4 {
    -webkit-animation-delay: 0.06s;
    animation-delay: 0.06s;
  }
  .title-animation .left__h1-5 {
    -webkit-animation-delay: 0.08s;
    animation-delay: 0.08s;
  }
  .title-animation .left__h1-6 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .title-animation .left__h1-7 {
    -webkit-animation-delay: 0.12s;
    animation-delay: 0.12s;
  }
  .title-animation .left__h1-8 {
    -webkit-animation-delay: 0.14s;
    animation-delay: 0.14s;
  }
  .title-animation .left__h1-9 {
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
  }
  .title-animation .left__h1-10 {
    -webkit-animation-delay: 0.18s;
    animation-delay: 0.18s;
  }
  .title-animation .left__h1-11 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .title-animation .left__h1-12 {
    -webkit-animation-delay: 0.22s;
    animation-delay: 0.22s;
  }

  @keyframes h1-bouncedelay {
    0%, 10% { 
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    } 60% {
      -webkit-transform: translateY(-60%);
      transform: translateY(-60%);
    } 90%, 100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }

}

@mixin spinner($b, $c, $h, $w, $r, $mr) {
  .spinner {
    display: flex;
    width: $w;
    height: $h;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: $b;
  }
  .spinner > div {
    width: $r;
    height: $r;
    background-color: $c;
    margin-right: $mr;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
}

@mixin spinner-icon($b, $c, $h, $w, $time, $step, $type) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $w;
  height: $h;
  background-color: $b;
  border-radius: 5px;
  color: $c;

  @if $type == 'right' {
    & .material-icons {
      animation: move-right $time infinite ease;
    }

    @keyframes move-right {
      0% {
        transform: translateX(0px);
      } 25% { 
        opacity: 0;
        transform: translateX($step);
      } 35% {
        opacity: 0;
        transform: translateX(-$step);
      } 50%, 100% {
        transform: translateX(0px)
      }
    }
  }
  @if $type == 'down' {
    & .material-icons {
      animation: move-down $time infinite ease;
    }

    @keyframes move-down {
      0% {
        transform: translateY(0px);
      } 25% { 
        opacity: 0;
        transform: translateY($step);
      } 35% {
        opacity: 0;
        transform: translateY(-$step);
      } 50%, 100% {
        transform: translateY(0px)
      }
    }
  }
  @if $type == 'default' {
    & .material-icons {
      animation: move-default $time infinite ease;
    }

    @keyframes move-default {
      0%, 25% {
        transform: Rotate(0deg);
      } 50% { 
        transform: Rotate($step) scale(1.3);
      } 100% {
        transform: Rotate(0deg);
      }
    }
  }
}

@mixin _1920 {
  @media only screen and (max-width : 1920px) {
      @content;
  }
}

@mixin _1680 {
  @media only screen and (max-width : 1680px) {
      @content;
  }
}

@mixin _1440 {
  @media only screen and (max-width : 1440px) {
      @content;
  }
}

@mixin _1366 {
  @media only screen and (max-width : 1366px) {
      @content;
  }
}

@mixin _1280 {
  @media only screen and (max-width : 1280px) {
      @content;
  }
}

@mixin _1024 {
  @media only screen and (max-width : 1024px) {
      @content;
  }
}

@mixin _800 {
  @media only screen and (max-width : 800px) {
      @content;
  }
}

@mixin _768 {
  @media only screen and (max-width : 768px) {
      @content;
  }
}

@mixin _600 {
  @media only screen and (max-width : 600px) {
      @content;
  }
}

@mixin _533 {
  @media only screen and (max-width : 533px) {
      @content;
  }
}

@mixin _360 {
  @media only screen and (max-width : 360px) {
      @content;
  }
}

@mixin _320 {
  @media only screen and (max-width : 320px) {
      @content;
  }
}
