// all
// Отступы лево-право
$distance: 50px;

// Цветовая схема
$darkblue: #2c5273;
$beige: #f2edd5;
$yellow: #f2cb57;
$yellowligth: #f2cb5757;
$orange: #d96941;
$green: #78bfab;
$greenligth: #78bfab25;
$white: #ffffff;
$red: #EB4654;
$redligth: #EB465426;
$redmedium: #eb4654a1;
$orangeligth: #d96a414f;
$grey: #c0c0c0;
$greyligth: #f3f2f2;

// index.scss
$app-width-1440: 1440px;
$app-fs-1440: 14px;

// header.scss
$header-height: 186px;
$header-width: 1440px;

// main.scss
$schedule-module-width: 326px;
$programm-menu-height: 63px;
$programm-menu-width: 1029px;
