// all
// Отступы лево-право
$distance: 50px;

// Цветовая схема
$darkblue: #2c5273;
$beige: #f2edd5;
$yellow: #f2cb57;
$orange: #d96941;
$green: #78bfab;
$white: #ffffff;
$red: #EB4654;

// index.scss
$app-width-1440: 1440px;
$app-fs-1440: 14px;

// header.scss
$header-height: 186px;
$header-width: 1440px;

// main.scss
$schedule-module-width: 326px;
$programm-menu-height: 63px;
$programm-menu-width: 1029px;
